/**
 * Site header
 */
.site-header {
  border-top: 5px solid $border-color-03;
  border-bottom: 1px solid $border-color-01;
  min-height: $spacing-unit * 1.865;
  line-height: $base-line-height * $base-font-size * 2.25;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  @include media-query($on-palm) {
    padding-right: 45px;
  }

  &,
  &:visited {
    color: $site-title-color;
  }
}

.site-nav {
  position: absolute;
  top: 9px;
  right: $spacing-unit * .5;
  background-color: $background-color;
  border: 1px solid $border-color-01;
  border-radius: 5px;
  text-align: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg path {
      fill: $border-color-03;
    }
  }

  label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    display: block;
    padding: 5px 10px;
    margin-left: 20px;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $on-medium) {
    position: static;
    float: right;
    border: none;
    background-color: inherit;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

    .page-link {
      display: inline;
      padding: 0;
      margin-left: auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}

.feed-subscribe .svg-icon {
  padding: 5px 5px 2px 0
}

.plugin-link {
  margin: 15px 0 15px 0
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}


/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}


/**
 * Grid helpers
 */
@media screen and (min-width: $on-large) {
  .one-half {
    width: calc(50% - (#{$spacing-unit} / 2));
  }
}



/**
 * wikilinks
 */

/* (internal) wiki links */

.invalid-wiki-link {
  color: $text-color-invalid-wikilink;
  cursor: help;
}

a.wiki-link {
  color: $text-color-wiki;
  text-decoration: none;
  background-image: linear-gradient(
    $text-color-wiki 0%, 
    $text-color-wiki 100%
  );
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(
      $text-color-wiki 0%,
      $text-color-wiki 100%
    );
    background-size: 1px 1px;
  }
}

.embed-wrapper {
  border: 1px solid #535353;
  border-radius: 6px;
  padding: 5px 20px 15px 20px;
  margin: 0 20px;
  position: relative;

  .embed-title {
    height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 26px;
    line-height: 42px;
    top: 5px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
  }

  .embed-content {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
  }

  .embed-wiki-link {
    position: absolute;
    top: 1em;
    right: 1em;

    &::before {
      content: "🔗";
    }

    &:hover {
      filter: drop-shadow(0 0 0.8mm $text-color-wiki);
    }
  }
}

.embed-image-wrapper {
  display: flex;
  justify-content: center;
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;

  .embed-image {
    height: 75%;
    width: 75%;
  }
}

/**
 * tag map / semantic tree
 */

.branch {
	color: $text-color-wiki;
	list-style: "#";
}


/**
 * Entries
 */
 .entry-header {
  margin-bottom: $spacing-unit;
}

.entry-title,
.entry-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.entry-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}
/* attrbox */
aside.attrbox {
	text-align: center;
	border: 1px double #ccc;
	color: #777575;
	border-radius: 25px;
	border-spacing: 1em;
	/* @noflip */
	margin: 0.5em;
	padding: 0.2em;
	/* @noflip */
	float: right;
}
span.attrbox-title {
	margin: 0.5em;
	color: #777575;
}
/* from: https://www.the-art-of-web.com/css/format-dl/ */
dl {
	margin: 0.5em;
}
dt {
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	font-weight: bold;
}
dt::after {
	content: ":";
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}

/**
 * bread-crumbs
 */

.bread-crumbs {
  ol {
    list-style: '> ';
    display: flex;
    align-self: center;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 0;
    margin-left: 0;
  }

  li {
    padding-right: 1.5em;
  }

  .site-item {
    list-style: none;
  }
}

/**
 * back-refs include
 */

.back-refs li {
	list-style: '';
}
.back-refs {
	padding: 2em 1em 6em 1em;
	margin: 2em;
	border: 1px solid #ccc!important;
	border-radius: 25px;
}
.title {
	color: #777575;
	text-align: center;
}
.sections {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
.section-title {
	color: #777575;
	text-align: center;
}
.attrtype {
	padding-left: 0px;
}
